# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/

# Environments
.env
.venv
venv/

# Build & distribution
build/
dist/

# Frontend dependencies & output
src/node_modules/
src/dist/
*.tsbuildinfo
public/*
!public/.gitkeep
*.egg-info

# Editor & System files
.vscode/
.idea/
.DS_Store
*.swp
*.swo
